extends layout

block content
  h1.text-info Welcome to
    i  #{title}
  div.container
    div.row.show-grid
        div.col-xs-3 APIs
            ul
                li: a.btn.btn-default(href='/version/add') create a new API version
                each val in versions
                    li: a.btn(href='/api/#{val.name}')='/api/' + val.name

        div.col-xs-3    I am B
        div.col-xs-3    I am C

